# Ignore Python cache files
__pycache__/
*.py[cod]
*.so

# Ignore virtual environment folders
env/
venv/
.venv/
zeno_lab/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore data files
*.csv
slices/
tweets.csv

# Ignore environment configuration
.env

# Ignore VS Code settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
